<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">

        <div class="main-container">
            <div>
                <%- include(`partials/articles/${article}.ejs`) %>
            </div>

            <%- include('partials/_nav.ejs') %>

            <div class="padding-top-lg"><h3 class="text-end"><a href="/learn" aria-label="baaaaaack link">&laquo; Go wayyyy Back</a></h3></div>
        </div>

    </section>
</body>

<%- include('partials/_footer.ejs') %>