<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">

        <div class="main-container">
            <div>
                <%- include(`partials/articles/${article}.ejs`) %>
            </div>

            <%- include('partials/_nav-bottom.ejs') %>

            <h3 class="text-end"><a href="/learn">&laquo; Go Back</a></h3>
        </div>

    </section>
</body>

<%- include('partials/_footer.ejs') %>