<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg calendar-main-container">

        <div class="main-container">
            
            
            user id is <%= user %> 

            <form action="/logcycle" method="POST">
                <div class="calendar-container">
                    <header class="calendar-header">
                        <p class="calendar-current-date"></p>
                        <div class="calendar-navigation">
                            <span id="calendar-prev"
                                class="material-symbols-rounded">
                                chevron_left
                            </span>
                            <span id="calendar-next"
                                class="material-symbols-rounded">
                                chevron_right
                            </span>
                        </div>
                    </header>
            
                    <div class="calendar-body">
                        <ul class="calendar-weekdays">
                            <li>Sun</li>
                            <li>Mon</li>
                            <li>Tue</li>
                            <li>Wed</li>
                            <li>Thu</li>
                            <li>Fri</li>
                            <li>Sat</li>
                        </ul>
                        <ul class="calendar-dates"></ul>
                    </div>
                </div>

                <div class="log-success-msg" style="visibility: hidden";>Cycle logged.</div>

                <div class="main-learn-sm margin-top-lg">
                    <div class="card padding-all-sm">
                        <h3>View Past Cycles</h3>
                    </div>
                    <button type="submit" class="padding-all-sm" id="submit-log">
                        <h3>Log Period</h3>
                    </button>
                </div>
            </form>
        </div>

        <%- include('partials/_nav.ejs') %>
    </section>
</body>

<%- include('partials/_footer.ejs') %>