<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_nav.ejs') %>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">
        <div class="main-container lesson-container">
            <%- include('partials/_articles.ejs') %>
        </div>

    </section>
</body>

<%- include('partials/_footer.ejs') %>