<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main-login padding-ver-lg">

        <div class="main-container">
   
    <div>
        <h1>Hi there,<br>
        Welcome to</h1>
        <h2>onni.</h2>
        <passage-auth app-id="<%= appID %>"></passage-auth>
        <script src="https://psg.so/web.js"></script>
        </div>

        <div class="btn-guest padding-ver-xs margin-top-lg">
            <a href="/guest" aria-label="guest link">Continue as Guest</a>
        </div>
        <%- include('partials/_nav.ejs') %>
    </section>
</body>

<%- include('partials/_footer.ejs') %>