<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">
        <div class="main-container">
            <div class="card">
                <div class="card-body">
                    <passage-profile app-id="<%= appID %>"></passage-profile>
                    <script src="https://psg.so/web.js"></script>
                </div>
            </div>
            <!-- <a href="/logout" class="btn btn-primary">Logout</a>
            <a href="/delete" class="btn btn-danger">Delete Account</a> -->
        </div>
        <%- include('partials/_nav.ejs') %>
        <div class="profile-links">
        </div>
    </section>
</body>

<%- include('partials/_footer.ejs') %>
